<h1>New game</h1>

<%= @letters%>

<p>What is the longest word you can find ?</p>
<form action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join('') %>
  <input type="text" name="new">
  <input type="submit" value="Play">
</form>
